body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9; /* Легкий фон */
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 2em;
    color: #333;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 110px); /* Увеличены размеры карт */
    grid-gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888; /* Фон карты */
    font-size: 2.5em;
    color: white;
    cursor: pointer;
    border-radius: 15px; /* Закругленные углы */
    user-select: none;
    transition: transform 0.3s, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
  }
  
  .card.flipped, .card.matched {
    background-color: #4caf50; /* Зеленый цвет для совпавших карт */
    transform: scale(1.05); /* Легкое увеличение для flipped карт */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Более выраженная тень */
  }
  
  .card:hover {
    transform: scale(1.1); /* При наведении эффект увеличения */
  }
  
  button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s;
  }
  
  button:hover {
    background-color: #007b9a;
    transform: scale(1.05); /* Эффект при наведении на кнопку */
  }
  
  button:active {
    background-color: #006f89;
  }
  